@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
main {
  font-family: 'Roboto', sans-serif;
}

section.content {
  opacity: 1;
  height: 100%;
  width: 100%;
  background-color: var(--payment-base-color);
  color:var(--payment-text-color);
  transition: opacity 0.5s linear;
}

.grid .heading, .grid .label {
  margin: 0;
}

.grid .heading {
  margin-left: 20px;
}

#ticket-image-section {
  height: 100%;
  width: 60%;
  background-image: url(https://images.unsplash.com/photo-1572634302008-4ecafe597dee?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
  background-size: cover;
  background-position: bottom;
}

#ticket-intro {
  width: 100vw;
  height: 100vh;
}

#ticket-instructions-modal  {
    font-size: 22px;
    max-height: 50vh;
    height: auto;
}

#error-modal {
  font-size: 22px;
  max-height: 50vh;
  height: auto;
}

#ticket-payment-section {
  grid-template-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4em 1fr 4em 2em;
  grid-template-areas: "Header-Left Header-Right" "Main Main" "Actions Actions" "Info Info";
}

#payment-grid-header-left { grid-area: Header-Left; }

#payment-grid-header-right {
  grid-area: Header-Right;
  text-align: center;
}

#payment-grid-main {
  grid-area: Main;
  background-color: steelblue;
  font-size: x-large;
  font-weight: bold;
  box-shadow: inset;
}

#payment-grid-actions {
  grid-area: Actions;
  justify-content: space-around;
  align-items: center;
}

#payment-grid-info {
  grid-area: Info;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

.sf-minitoolbar{
  display:none !important;
}

@media only screen and (max-width: 1024px) {
  #ticket-image-section {
    display: none;
  }
}