{% extends 'base.html.twig' %}

{% block title %}New Occupancy{% endblock %}

{% block body %}
    <h1>Create new Occupancy</h1>

    {{ include('occupancy/_form.html.twig') }}

    <a href="{{ path('occupancy_index') }}">back to list</a>
{% endblock %}
