<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock title %}</title>
        {% block customCss %}{% endblock customCss %}
    </head>
    <body>
        {% block htmlBody %}{% endblock htmlBody %}
        {% block customJs %}{% endblock customJs %}
    </body>
</html>
